.map {
    fill: lightgreen;
    stroke: black;
    stroke-width: 0.1;
}

.map:hover {
    fill: white;
}


div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 80px;                    
    height: auto;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: white; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}